*{
    margin: 4px;
    padding: 4px;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    text-align: center;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}

#num-channels-container{
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
}