*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
    font-family: sans-serif monospace;
}
#all-container{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#left-banner{
    background-color: #FFFFFF;
    width: 17%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.4vw;
}
#main-dashboard{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#info-container{
    width: 80%;
    height: 60vh;
    /* background-color: rgb(181, 204, 196); */
    font-family:monospace;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    height: 25vh;
    font-size: max(100%,15px);
}

#left-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}
.left-button{
    width: 100%;
    margin: 2px;
    padding: 2px;
}

#logo-container img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}
#channels-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #000000; */
    margin-bottom: 20px;
}
#time-info{
    font-size: 2.2vh;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
    border: 1px solid black;
}
#time-proceso-info{
    font-size: 2.2vh;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
    border: 1px solid black;
}
h2{
    font-size: 3vh;
}


#canvas-container{
    width: 90%;
}
#myChart{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80vh;
}
#canvas-channel0{
    background-color: #000000;
    width: 10%;
    margin: 0.5% 2%;
    display: none;
}
#canvas-channel1{
    background-color: #000000;
    width: 10%;
    margin: 0.5% 2%;
    display: none;
}
#canvas-channel2{
    background-color: #000000;
    width: 10%;
    margin: 0.5% 2%;
    display: none;
}
#canvas-channel3{
    background-color: #000000;
    width: 10%;
    margin: 0.5% 2%;
    display: none;
}
#canvas-channelT{
    background-color: #000000;
    width: 10%;
    margin: 0.5% 2%;
    display: none;
}
#canvas-channelHR{
    background-color: #000000;
    width: 10%;
    margin: 0.5% 2%;
    display: none;
}

#serial-info-container{
    margin-top: 4px;
    width: 60vw;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
}

#channels-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 0;
    padding-top: 0;
}



#channel0-info{
    margin-top: 4px;
    width: 100%;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
    border: 1px solid black;
}
#channel1-info{
    margin-top: 4px;
    width: 100%;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
    border: 1px solid black;
}
#channel2-info{
    margin-top: 4px;
    width: 100%;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
    border: 1px solid black;
}
#channel3-info{
    margin-top: 4px;
    width: 100%;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
    border: 1px solid black;
}
#channel4-info{
    margin-top: 4px;
    width: 100%;
    background-color: rgb(181, 204, 196);
    font-family:monospace;
    border: 1px solid black;
}
#channelT-info{
    margin-top: 4px;
    width: 100%;
    background-color: rgb(201, 204, 181);
    font-family:monospace;
    border: 1px solid black;
}
#channelHR-info{
    margin-top: 4px;
    width: 100%;
    background-color: rgb(201, 204, 181);
    font-family:monospace;
    border: 1px solid black;
}


button{
    margin-bottom: 1px;
	background-color:rgb(240,240,240);
	border-radius:2px;
	border:1px solid rgb(181, 181, 181);
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:sans-serif ;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    width: 8.6vw;
    height: auto;
    font-size: 1.7vw;
}
button:hover{
    background-color:rgb(229,241,251);
    border: 1px solid rgb(18, 129, 218);
}
button:active{
    scale: 0.9;
    background-color: rgb(204, 228, 247);
}