body{
    margin: 0;
    padding: 0;
    color: #e9e9e9;
    text-align: center;
}
#all-container{
    background-color: #282a36;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#left-banner{
    background-color: #6272a4;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#main-dashboard{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
#logo-container img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#canvas-container{
    width: 80%;
}
#myChart{
    background-color: #f8f8f2;
    width: 100%;
    height: 80vh;
}




#serial-info-container{
    margin-top: 4px;
    width: 60vw;
    height: 10vh;
    background-color: #df473c;
}

#channels-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.canvas-channel{
    background-color: #3cdf9b;
    display: flex;
    height: 20vh;
}







button{
    margin-bottom: 30%;
    box-shadow: 0px 0px 0px 2px #6272a4;
	background:linear-gradient(to bottom, #586999 5%, #202c4d 100%);
	background-color:#7892c2;
	border-radius:20%;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:100%;
	padding:40% 10%;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    width: auto;
}